<div class="article">
    <div class="topic"><h3>The Value of Money</h3></div>
    <div class="image">
        <figure>
            <img src="img/article1.jpg" alt="The value of money" />
            <figcaption>Money is everything</figcaption>
        </figure>
    </div>
    <div class="content">
        <p>Money is unarguably valuable. Nowadays we need money for anything. Even the freedom cannot be enjoyed without money.</p>

        <p>It is the most powerful, trustworthy and efficient method for trading goods. We can trade any product for a given amount of money. Deciding the most suitable value can keep both buyer and seller happy.</p>

        <p>Usually when a person wants to sell something he decides the actual amount of money in returns. This includes the initial cost for the product itself and the profit he/she is expecting to earn. When the demand for such product increases, the value of money goes up. This will increase the profit for sellers and also prevent underrunning the availability of such products.</p>

        <p>People choose a method to earn money. This can be an occupation, business or another trading involving money. However the most important thing is how the earned money is managed. A good management will make sure to maintain the value of money. So that it will never go down. Unfortunately if this is not managed properly that will cause the value of money to go down. So that the capacity that can buy from a given amount of money is decreased.</p>

        <p>As a summary the value of money depends on how it is managed. If it is managed properly we can increase the value of money. At least that will prevent it undergoes.</p>
    </div>
</div>      
<br />
<div class="article">
    <div class="topic"><h3>GMO food</h3></div>
    <div class="image">
        <figure>
            <img src="img/article2.jpg" alt="GMO Food" />
            <figcaption>Health + Taste</figcaption>
        </figure>
    </div>
    <div class="content">
        <p>Genetically Modified foods can be considered as one of the most powerful results created by the technology. Usually there are different types of weaknesses in naturally grown foods. They decreases the taste, nutritious, and the quality of foods. These weaknesses are coming from their own DNAs. Modifying their DNAs allow us to minimize these weaknesses and improve the quality of the foods.</p>

        <p>People prefer different tastes, different colors and different smells. Even a change in the color of foods can attract people when choosing among different ordinary foods.</p>

        <p>Nowadays scientists research to combine two or more DNAs of different foods to create different types of foods. They include the values from both DNAs but reduce the bad qualities. This helps us to have a better quality food for a better price. </p>

        <p>In some cases genetically modified foods will not give the best as they are intended. The process can introduce unforeseen bad qualities for foods as well. Therefore in most cases people have concerns about these genetically modified foods. But given their taste, quality and other values they have become an unavoidable part in our day to today life.  </p>

    </div>
</div>
<div class="article">
    <div class="topic"><h3>The View of World in 2100</h3></div>
    <div class="image">
        <figure>
            <img src="img/article3.jpg" alt="The view of world in 2100" />
            <figcaption>Robots</figcaption>
        </figure>
    </div>
    <div class="content">
        <p>The world is changing. Before twentieth century we could imagine how the world would be like in ten, fifty or hundred years. However it is much difficult now. The world is changing in a high speed.</p>

        <p>In 2100, we will see robots run the world. One person will own more than one robots similar tho mobile phones nowadays. They will be sitting on chairs while all their work is done by robots.</p>

        <p>The most efficient and effective way to travel would be on or own flying car. The road traffic would be avoided. But we might need to be careful about air traffic.</p>

        <p>Unfortunately people will suffer about the nature. In 2100, we might not see a forest or a river built naturally. People may have to build them artificially.</p>

        <p>The world will be different as much as we cannot even imagine.</p>
    </div>
</div>