<div class="card-container">
    <div class="card1">
        <div class="thumbnail"><img src="img/card1.jpg" /></div>
        <div class="card-name">Technology</div>
    </div>
    <div class="card2">
        <div class="thumbnail"><img src="img/card2.jpg" /></div>
        <div class="card-name">Defense</div>
    </div>
    <div class="card3">
        <div class="thumbnail"><img src="img/card3.jpg" /></div>
        <div class="card-name">Invention</div>
    </div>
    <div class="card4">
        <div class="thumbnail"><img src="img/card4.jpg" /></div>
        <div class="card-name">GMO Food</div>
    </div>
    <div class="card5">
        <div class="thumbnail"><img src="img/card5.jpg" /></div>
        <div class="card-name">Lifestyle</div>
    </div>
    <div class="card6">
        <div class="thumbnail"><img src="img/card6.jpg" /></div>
        <div class="card-name">Money</div>
    </div>
</div>